@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

.box-profils {
  display: block;
  width: 300px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid 1px var(--clr-border);
}
.box-profils-graphiste {
  display: block;
  width: 300px;
  /* background-color: rgb(255, 255, 255); */
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid 1px var(--clr-border);
}

.profil-autre {
  display: flex;
  margin-bottom: 1rem;
  padding: 1.2;
  background-color: rgb(255, 255, 255);
  align-items: stretch;
  margin-top: 0.5rem;

  .box-profil-img {
    margin-right: 1rem;
    display: inline;
    width: 60px;

    .profil-autre-img {
      width: 50px;
      border-radius: 50%;
    }
  }

  .box-profil-autre-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: max-content;
    margin-top: 0.4rem;
    margin-left: 0.2rem;
    margin-bottom: 0.4rem;

    h2 {
      /* display: block; */
      font-size: 1.8ch;
      margin-bottom: 0.5rem;
    }

    h3 {
      /* display: block; */
      font-size: 1.6ch;
      margin-bottom: 0.5rem;
      color: rgb(63, 63, 63);
    }

    p {
      font-size: 1.5ch;
      font-size: 1.5ch;
    }
  }

  .profil-autre-button {
    background-color: white;
    border: solid 1px var(--clr-light-grey);
    border-radius: 1.5rem;
    text-decoration: none;
    margin-top: 0.5rem;
    width: 8rem;
    height: 2rem;
  }
}
.monfils {
  background-color: white;
  border: solid 1px var(--clr-light-grey);
  border-radius: 1.5rem;
  text-decoration: none;
  margin-top: 0.5rem;
  width: 8rem;
  height: 2rem;
}
.reponse {
  position: absolute;
  top: 4rem;
  right: 15%;
  background-color: #e8e8e8;
  border-radius: 0.5rem;
  padding: 3.5rem 1.5rem 3rem 1rem;
  border: solid 1px var(--clr-dark-grey);

  .reponse-fermer {
    background-color: var(--clr-light-grey);
    color: white;
    border-radius: 1rem;
    padding: 0.3rem 0.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}
hr {
  width: 100%;
  height: 1px;
  color: gray;
}
