@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacquard+12&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  ol,
  ul {
    list-style: none;
  }
  body {
    line-height: 1;
  }
}
:root {
  --clr-white-hover: #ebf4fd;
  --clr-light-grey: #666666;
  --clr-lighter-grey: #f5f5f5;
  --clr-dark-grey: #404040;
  --clr-blue: #0a66c2;
  --clr-blue-link: #307ecc;
  --clr-blue-hover: #004182;
  --clr-grey-hover: #f3f3f3;
  --clr-search-bar: #edf3f8;
  --clr-border: #dfdeda;

  --clr-fond: #ffffff;
  --clr-button: #f3f3f3;

  --clr-texte: #9e9e9e;
}

.red {
  color: red;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f4f2ee;
  min-height: 100vh;
}

h2 {
  font-size: 1.5rem;
}

main {
  display: grid;
  grid-template-columns: 77.5% 22.5%;
  margin: 4.7rem 31rem 3rem 24.2rem;
  gap: 2rem;
}

/* HEADER */

nav {
  background-color: white;
  padding: 0 24.6rem;
  width: 100%;
  height: 3.3rem;
  position: fixed;
  top: 0%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  z-index: 3;

  input {
    border: 0;
  }

  .header-left {
    display: flex;
    align-items: center;

    img {
      width: 35px;
      height: 35px;
    }

    .header-search {
      display: flex;
      align-items: center;
      height: 2rem;
      width: 17.5rem;
      margin-left: 0.6rem;
      padding-left: 1rem;
      background-color: var(--clr-search-bar);
      border-radius: 0.3rem;

      img {
        width: 15px;
        height: 15px;
      }

      input {
        padding-left: 0.5rem;
        background-color: var(--clr-search-bar);
      }
    }
  }

  .header-right {
    img {
      width: 27px;
      height: 27px;
      overflow: hidden;
      align-self: center;
    }

    .vertical-line {
      border-left: 1px solid #e8e8e8;
      height: 3.3rem;
      margin-right: 0.5rem;
    }

    display: flex;
    flex-direction: row;
    padding: 0 2rem;
    margin-left: 1rem;
    align-items: center;

    p {
      font-size: 0.73rem;
      color: var(--clr-dark-grey);
      text-align: center;
      width: 6rem;
      margin: 0 -1.2rem;
    }

    .header-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1.5rem 1.5rem;
      opacity: 70%;
    }

    .header-icons:hover {
      opacity: 100%;
    }

    a {
      text-decoration: none;
      width: 8rem;
      height: 3rem;
      margin: 0 0.4rem;
      color: var(--clr-light-grey);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a:hover {
      background-color: var(--clr-lighter-grey);

      border-radius: 1.5rem;
      text-decoration: none;
      color: var(--clr-dark-grey);
    }

    .identify {
      border: solid 1px var(--clr-blue);
      border-radius: 1.5rem;
      text-decoration: none;
      color: var(--clr-blue);
      width: 8rem;
      height: 2.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .logo {
    width: 2rem;
  }
}

.left {
  grid-column: 1;
}

.florian-12 {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: black;
  color: green;
  position: absolute;
  right: 900px;
  top: 400px;
  width: 600px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;

  p {
    text-align: center;
    font-size: 2rem;
    font-family: "VT323", system-ui;
  }
  button {
    font-family: "VT323", system-ui;
    font-size: 2rem;
    margin-top: 2rem;
    width: 15rem;
    height: 3rem;
    border-radius: 1rem;
  }
  button:hover {
    background-color: #9e9e9e;
    cursor: pointer;
  }
  button:active {
    background-color: black;
    color: green;
  }
}

.invisible {
  display: none;
}
.visible {
  display: flex;
}

/* pop up connection */
.connection {
  z-index: 1000;
  position: absolute;
  top: 35rem;
  left: 15%;
  background-color: #e8e8e8;
  border-radius: 0.5rem;
  padding: 3.5rem 1.5rem 3rem 1rem;
  border: solid 1px var(--clr-dark-grey);

  .password-field {
    padding: 0.3rem 0.5rem;
  }

  .login-button {
    background-color: var(--clr-blue);
    color: white;
    border-radius: 1rem;
    padding: 0.3rem 0.5rem;
    margin-left: 1rem;
  }

  .connection-fermer {
    background-color: var(--clr-light-grey);
    color: white;
    border-radius: 1rem;
    padding: 0.3rem 0.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

/* BLOC BIO */

.bio {
  background-color: white;
  border-radius: 0.5rem;
  border: solid 1px var(--clr-border);

  .bio-bannière {
    img {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      max-width: 100%;
      width: 100%;
    }
  }

  .bio-photo {
    position: relative;
    top: -34px;
    left: 25px;
    z-index: 2;
    margin: -4.5rem 0;

    img {
      width: 160px;
      height: 160px;
      border-radius: 100%;
      border: solid 4px white;
    }
  }

  .bio-textes {
    padding: 4rem 1.5rem 2rem 1.5rem;
    display: flex;
    line-height: 1.2rem;

    img {
      max-width: 2rem;
    }

    .bio-left {
      width: 66%;
      display: flex;
      flex-direction: column;

      a {
        color: var(--clr-blue-link);
        text-decoration: none;
      }

      a:visited {
        color: var(--clr-blue-link);
      }

      #bio-abdou {
        color: black;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2rem;
      }

      p {
        line-height: 1.5rem;
      }

      .bio-localisation {
        color: var(--clr-dark-grey);
        font-size: 0.9rem;
        margin: 0.25rem 0;
      }

      .bio-bold {
        font-weight: bold;
        color: var(--clr-dark-grey);
      }

      .bio-buttons {
        display: flex;

        .bio-buttons-connect {
          margin-right: 0.7rem;
          background-color: var(--clr-blue);
          border: solid 1px var(--clr-blue);
          border-radius: 1.5rem;
          text-decoration: none;
          color: white;
          width: 8rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          padding: 0.5rem;
          font-size: 0.8rem;

          img {
            height: 1.2rem;
            margin-right: 0.5rem;
          }
        }

        .bio-buttons-connect:hover {
          background-color: var(--clr-blue-hover);
          border: solid 1px var(--clr-blue-hover);
          cursor: pointer;
          transition: 0.1s ease-in;
        }

        .bio-buttons-message {
          z-index: 1;
          margin-right: 0.7rem;
          background-color: white;
          border: solid 1px var(--clr-blue);
          border-radius: 1.5rem;
          text-decoration: none;
          color: var(--clr-blue);
          width: 6rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          padding: 0.5rem;
          animation-name: attention;
          animation-duration: 1s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
        }

        @keyframes attention {
          0% {
            transform: rotate(0deg);
          }
          25% {
            transform: rotate(15deg);
          }
          50% {
            transform: rotate(0deg);
          }
          75% {
            transform: rotate(-15deg);
          }
          100% {
            transform: rotate(0deg);
          }
        }

        .bio-buttons-message:hover {
          background-color: var(--clr-white-hover);
          border: solid 1px var(--clr-blue-hover);
          color: var(--clr-blue-hover);
          cursor: pointer;
          transition: 0.1s ease-in;
        }

        .bio-buttons-plus {
          background-color: white;
          border: solid 1px var(--clr-dark-grey);
          border-radius: 1.5rem;
          text-decoration: none;
          color: var(--clr-dark-grey);
          width: 4rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          padding: 0.5rem;
        }

        .bio-buttons-plus:hover {
          background-color: var(--clr-grey-hover);
          border: solid 1px black;
          color: black;
          cursor: pointer;
          transition: 0.1s ease-in;
        }
      }
    }

    .bio-right {
      li {
        display: flex;
        align-items: center;
      }

      a {
        margin-left: 1rem;
        color: var(--clr-blue-link);
        text-decoration: none;
      }

      a:visited {
        color: var(--clr-blue-link);
      }
    }
  }
}

#bouton {
  animation-name: sapeShake;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes sapeShake {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(10deg) scale(1.1);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-10deg) scale(1.1);
  }
}

/* BLOC FORMATION */

.formation {
  padding: 2rem 2rem;
  margin-top: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  border: solid 1px var(--clr-border);

  h2 {
    font-size: 1.35rem;
    font-weight: 700;
  }

  hr {
    border: 0.5px solid var(--clr-border);
  }

  img {
    width: 45px;
    height: 45px;
  }

  .formation-date {
    color: var(--clr-light-grey);
  }

  .formation-42 {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    line-height: 1.6rem;

    .formation-42-texte {
      margin-left: 0.7rem;
    }
  }

  .formation-ecole-de-conde {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    line-height: 1.6rem;

    .formation-ecole-de-conde-texte {
      margin-left: 0.7rem;
    }
  }
}

/* BLOC ACTIVITE */

.bloc-activité {
  margin-top: 1rem;
  border: 1px solid var(--clr-border);
  border-radius: 0.5rem;
  background: var(--clr-fond);

  .activité {
    margin: 1.5rem;
    text-align: left;
  }

  .texte1 {
    margin-top: 0.3rem;
    font-size: small;
    color: var(--clr-texte);
  }

  .Abdou {
    margin: 1.5rem;
    text-align: left;
  }

  .texte2 {
    margin-top: 0.3rem;
    font-size: small;
  }

  .button {
    height: 40px;
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px var(--clr-border);

    a {
      color: black;
      text-decoration: none;

      display: inline-block;
      position: relative;
      z-index: 1;
      padding: 1em 26rem;
      margin: -1em -26rem;
    }
  }
}

/* BLOC XP */

.exp {
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  padding: 1rem;
  border: solid 1px var(--clr-border);

  h2 {
    padding: 0.5rem;
  }

  article {
    display: flex;
    padding: 0.5rem;

    .logo-exp {
      display: flex;
      height: 50px;
      width: 50px;
    }

    .exp-text {
      p {
        padding: 0.5rem;
      }

      .exp-date {
        color: grey;
      }
    }
  }
}

/* BLOC CENTRE D'INTERET */

.centres-dinteret {
  display: flex;
  flex-direction: column;

  button {
    border: solid 1px var(--clr-light-grey);
    border-radius: 20px;
    text-decoration: none;
    width: 4rem;
    height: 2rem;
  }

  .ci-onglets {
    display: flex;
    flex-direction: row;
    /* padding: 0.5rem; */

    li {
      display: flex;
      flex-direction: row;
      padding: 2rem 1rem 2rem 0;
    }
  }
}

.centres-dinteret {
  margin-top: 1rem;
  padding: 1.3rem 1.5rem 0 1.5rem;
  background-color: white;
  border-radius: 0.5rem;
  border: solid 1px var(--clr-border);

  .ci-ent-suivies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 1.5rem;
  }

  .ci-colonne {
    display: flex;
    flex-direction: row;

    img {
      width: 5rem;
      padding-right: 2rem;
    }

    .ci-colonne-info {
      display: flex;
      flex-direction: column;

      li:first-child {
        font-weight: bold;
        img {
          width: 8rem;
          padding-right: 2rem;
        }
      }
    }
  }
}

/* BLOC FOOTER */

footer {
  padding: 0 23rem;
  display: flex;
  bottom: 1px;
  line-height: 1rem;
  margin-bottom: 2rem;
  font-size: 0.6rem;
  color: var(--clr-dark-grey);

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;

    li {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 0 2rem;

      img {
        width: 1.5rem;
        position: relative;
        bottom: 0.5rem;
      }
    }
  }
}
/* BLOC FOOTER */

footer {
  padding: 0 23rem;
  display: flex;
  bottom: 1px;
  line-height: 1rem;
  margin-bottom: 2rem;
  font-size: 0.6rem;
  color: var(--clr-dark-grey);

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;

    li {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 0 2rem;

      img {
        width: 1.5rem;
        position: relative;
        bottom: 0.5rem;
      }
    }
  }
}

/* BLOC COMPETENCES */

.competences {
  margin-top: 0.8rem;
  background-color: white;
  border-radius: 0.5rem;
  border: solid 1px var(--clr-border);
  padding: 1.3rem 1.5rem 0 1.5rem;

  .competences-description {
    font-size: 0.8rem;
    margin-top: 0.7rem;

    img {
      width: 25px;
      height: 25px;
      border-radius: 1rem;
      margin: 0.5rem 0.6rem 0.5rem 0;
    }

    article {
      display: flex;
      align-items: center;
    }
  }

  .competences-bouton {
    margin: 1rem 0;
    /* border-radius: 0 0 0.5rem 0.5rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px var(--clr-border);

    a {
      color: black;
      text-decoration: none;

      display: inline-block;
      position: relative;
      padding: 1rem 0 0 0;
      /* z-index: 1;
      padding: 10 26rem;
      margin: -10 -26rem; */
    }
  }
}

/* BLOC ASIDE */

.aside {
  grid-column: 2;

  /* a{
      display: inline-block;
      position: relative;
      z-index: 1;
      padding: 2em;
      margin: -2em;
    } */
}

@media screen and (max-width: 1280px) {
  * {
    max-width: 100vw;
  }
  .florian-12 {
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: black;
    color: green;
    position: absolute;
    right: 20%;
    top: 20%;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;

    p {
      text-align: center;
      font-size: 1.3rem;
      font-family: "VT323", system-ui;
    }
    button {
      font-family: "VT323", system-ui;
      font-size: 2rem;
      margin-top: 2rem;
      width: 12rem;
      height: 3rem;
      border-radius: 1rem;
    }
    button:hover {
      background-color: #9e9e9e;
      cursor: pointer;
    }
    button:active {
      background-color: black;
      color: green;
    }
  }
  .desktop-only {
    display: none;
  }
  .phone-only {
    display: block;
  }
  body {
    width: 100%;
  }
  nav {
    margin: 0;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    padding: 0 1rem;
    height: 5rem;
    .header-left {
      img {
        margin-left: 1rem;
      }
      .header-search {
        display: none;
      }
    }
    .header-right {
      padding: 0;
      .header-icons {
        margin: 0 0.6rem;
        img {
          width: 2rem;
        }
        p {
          display: none;
        }
      }
    }
    .log,
    .identify {
      display: none !important ;
    }
  }

  .left {
    width: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .bio {
    margin-top: 6rem;
    width: 100%;
    border-radius: 0;
    .bio-bannière {
      img {
        border-radius: 0;
      }
    }
  }
  .florian-12 {
    width: 50%;
  }
  .bloc-activité {
    border-radius: 0;
    .button {
      height: 40px;
      border-radius: 0 0 0.5rem 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: solid 1px var(--clr-border);

      a {
        color: black;
        text-decoration: none;

        display: inline-block;
        position: relative;
        z-index: 1;
        padding: 0;
        margin: 0;
      }
    }
  }
  .exp {
    border-radius: 0;
  }
  .centres-dinteret {
    .ci-titre {
      font-size: 1.2rem;
    }
    .ci-colonne {
      li {
        img {
          width: 4rem;
        }
      }
    }
  }
  .box-profils {
    width: 100%;
  }
  footer {
    max-width: 100vw;
    font-size: 0.7rem;
    flex-direction: row;
    padding: 0;
    line-height: 1rem;
    ul {
      max-width: 24vw;
      li {
        img {
          width: 1rem;
        }
      }
    }
  }
}
